@font-face {
    font-family: 'kanit';
    src: url('./Kanit/Kanit-Regular.ttf');
}
        

body{
    background-color: rgb(225, 236, 173);
    text-align: center;
    font-family: 'kanit';
}

h1{
    text-align: center;
}